.Loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    color: brown;
}

.Loading_center{
    margin-top: 30%;
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
  }